* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background: rgb(3, 1, 15);
  color: #fff;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.cursor::after {
  content: "";
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 150px;
}

#hour,
#minute,
#seconds {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  font-size: 64px;
  align-items: center;
  border-radius: 10px;
}

#hour {
  background: #5d43d0;
}
#minute {
  background: #70cc2f;
}
#seconds {
  background: #d04b2e;
}
.date {
  font-size: 26px;
}
